- var basepath = "/react-workshop"

mixin page(title)
  html(class="no-js")
    head
      meta(charset="utf-8")
      title=title
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
      meta(name="apple-mobile-web-app-capable", content="yes")
      meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
      meta(name="description", content=title)
      link(href="#{basepath}/assets/css/style.css", rel="stylesheet", type="text/css")
      script(type='text/javascript').
        if( window.location.search.match( /print-pdf/gi ) ) {
          var link = document.createElement( 'link' );
          link.rel = 'stylesheet';
          link.type = 'text/css';
          link.href = '#{basepath}/assets/css/pdf.css';
          document.getElementsByTagName( 'head' )[0].appendChild( link );
        }

    body
      .reveal
        .slides
          block

      script(src="#{basepath}/assets/js/app.js")


mixin animated-header()
  .sliding-image-container
    img.animate-logos.image1(src="#{basepath}/assets/img/react-logo.png")
    img.animate-logos.image2(src="#{basepath}/assets/img/flux-logo.png")
    img.animate-logos.image3(src="#{basepath}/assets/img/gulp-logo.png")
    img.animate-logos.image4(src="#{basepath}/assets/img/browserify-logo.png")
    img.animate-logos.image5(src="#{basepath}/assets/img/bower-logo.png")
  .fading-header-container
    h1.plain.animate-headers.image1 React
    h1.plain.animate-headers.image2 Flux
    h1.plain.animate-headers.image3 Gulp
    h1.plain.animate-headers.image4 Browserify
    h1.plain.animate-headers.image5 Bower.js
  block


mixin lecture-title-page(title, subtitle)
  section.index-section(data-state="index-slide")
    +animated-header()
    h3.plain=title
    h4.plain=subtitle
